<% todos = @todos.sort_by { |todo| todo.due_date}
  .sort_by { |todo| todo.completed ? 1 : 0} %>

<div class="container row" onLoad="cleanURL()">

    <div class="new">
      <%= render 'new' %>
    </div>

    <div class="edit hidden">
      <%= render 'edit' %>
    </div>

  <div class="todo-list .col-md-8">

    <h1>To Do's List</h1>
    <ul>
      <% todos.each do |todo| %>
      <li id="<%= todo.id %>">

        <div class="<%= "complete" if todo.completed %> <%= "late" if todo.past_due? %>">
          <h3 class="title"><%= todo.title.gsub(/\r/,"<br>").html_safe %></h3>

          <p class="more-toggle">More...</p>

          <div class="more-info hidden">
            <p><strong>Due: </strong><span class="due-date"><%= todo.due_date %></span></p>
            <p><strong>Details:</strong></p>
            <p class="details"><%= todo.details.gsub(/\r/,"<br>").html_safe %></p>
          </div>
        </div>

        <div class="buttons">
          <%= button_to "Toggle Completed",
            toggle_path,
            :method => :patch,
            params: {id: todo.id},
            class: "btn btn-primary" %>

          <button type="button" class="edit-button btn btn-primary">Edit To Do</button>

          <%= button_to "Delete To Do",
            todo,
            method:
            :delete,
            class: "btn btn-primary" %>
        </div>

      </li>
      <% end %>
    </ul>

  </div>

</div>
